
<div class="cl-articles-container col-md-8">
    <article class="cl-article">              
        <h2 class="cl-article-title">
            <a href="#" >Sleek Charts and Graphs Mobile Apps featuring Statistics</a>
        </h2> 
        <div class="cl-article-info">
          <span class="cl-author-name">Nataly Birch</span>&nbsp;&nbsp;•&nbsp;&nbsp;
          <a href="#" >Inspiration</a>&nbsp;&nbsp;•&nbsp;&nbsp;September 19, 2013                               
        </div>

        <div class="cl-article-image">
            <a href="#" title="#">
                <img src="/public/imgs/apps1.jpg" alt="#">
            </a> 
        </div><!--end article-image-->
       
        <p>We are surrounded by a huge amount of information traffic that sometimes is difficult to comprehend in its pristine form. In order to skillfully interpret quite boring statistics designers employ verily unique methods that generally involve simple but effective presentation instruments such as tables, charts and graphs.
        The latter two are a lifebuoy for mobile applications...</p>
       
        <div class="cl-read-more">
            <a href="#">Read More</a>
        </div>
    </article>
    <article class="cl-article">              
        <h2 class="cl-article-title">
            <a href="#" >Sleek Charts and Graphs Mobile Apps featuring Statistics</a>
        </h2> 
        <div class="cl-article-info">
          <span class="cl-author-name">Nataly Birch</span>&nbsp;&nbsp;•&nbsp;&nbsp;
          <a href="#" >Inspiration</a>&nbsp;&nbsp;•&nbsp;&nbsp;September 19, 2013                               
        </div>

        <div class="cl-article-image">
            <a href="#" title="#">
                <img src="/public/imgs/apps1.jpg" alt="#">
            </a> 
        </div><!--end article-image-->
       
        <p>We are surrounded by a huge amount of information traffic that sometimes is difficult to comprehend in its pristine form. In order to skillfully interpret quite boring statistics designers employ verily unique methods that generally involve simple but effective presentation instruments such as tables, charts and graphs.
        The latter two are a lifebuoy for mobile applications...</p>
       
        <div class="cl-read-more">
            <a href="#">Read More</a>
        </div>
    </article>
</div>

<%- partial('sidebar') %>
