<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>CreativeLib</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creativelib.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- navbar -->
    <header class="navbar cl-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header  cl-nav-group">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand cl-nav-item" href="#">CreativeLib</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#articles" class="cl-nav-item">Articles</a></li>
            <li><a href="#projects" class="cl-nav-item">Projects</a></li>
            <li><a href="#search" class="cl-nav-item">Search</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right cl-nav-group">
            <li><a href="../navbar/" class="cl-nav-item">Contact</a></li>
            <li><a href="#Sign" class="cl-nav-item">Sign in</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </header>
    <div class="cl-logo-wrap">
      <div class="container">
        <a class="cl-logo" href="#">Creative Library</a>
      </div>
    </div>
    <div class="container">
      <div class="cl-container">
        <div style="clear:both;"></div>
        <div class="cl-articles-container col-md-8">
            <article class="cl-article">              
                <h2 class="cl-article-title">
                    <a href="#" >Sleek Charts and Graphs Mobile Apps featuring Statistics</a>
                </h2> 
                <div class="cl-article-info">
                  <span class="cl-author-name">Nataly Birch</span>&nbsp;&nbsp;•&nbsp;&nbsp;
                  <a href="#" >Inspiration</a>&nbsp;&nbsp;•&nbsp;&nbsp;September 19, 2013                               
                </div>

                <div class="cl-article-image">
                    <a href="#" title="#">
                        <img src="imgs/apps1.jpg" alt="#">
                    </a> 
                </div><!--end article-image-->
               
                <p>We are surrounded by a huge amount of information traffic that sometimes is difficult to comprehend in its pristine form. In order to skillfully interpret quite boring statistics designers employ verily unique methods that generally involve simple but effective presentation instruments such as tables, charts and graphs.
                The latter two are a lifebuoy for mobile applications...</p>
               
                <div class="cl-read-more">
                    <a href="#">Read More</a>
                </div>
            </article>
            <article class="cl-article">              
                <h2 class="cl-article-title">
                    <a href="#" >Sleek Charts and Graphs Mobile Apps featuring Statistics</a>
                </h2> 
                <div class="cl-article-info">
                  <span class="cl-author-name">Nataly Birch</span>&nbsp;&nbsp;•&nbsp;&nbsp;
                  <a href="#" >Inspiration</a>&nbsp;&nbsp;•&nbsp;&nbsp;September 19, 2013                               
                </div>

                <div class="cl-article-image">
                    <a href="#" title="#">
                        <img src="imgs/apps1.jpg" alt="#">
                    </a> 
                </div><!--end article-image-->
               
                <p>We are surrounded by a huge amount of information traffic that sometimes is difficult to comprehend in its pristine form. In order to skillfully interpret quite boring statistics designers employ verily unique methods that generally involve simple but effective presentation instruments such as tables, charts and graphs.
                The latter two are a lifebuoy for mobile applications...</p>
               
                <div class="cl-read-more">
                    <a href="#">Read More</a>
                </div>
            </article>
        </div>
        <div class="cl-sidebar-container col-md-4">
            <article class="popular">
                <h3 class="cl-sidebar-h3">Popular Posts (Month)</h3>
                <ul class="cl-popular-posts">
                    <li>
                        <h3><a href="#">Flat UI Pro 1.2 Released</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Collective .PSD: Tips for Working in Photoshop for Teams</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">How to Create Flat Styled Combo Box with Square UI (Part 1)</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">The Ultimate UX Design of a Google Glass App</a></h3>
                    </li>
                    <li>
                        <h3><a href="#/">How to Make a Flat Styled jQuery UI Combo Box Widget (Part 2)</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Creative Examples of iPhone 6 Concepts</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Sleek Charts and Graphs Mobile Apps featuring Statistics</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Interview with Designer: Anton Repponen</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Peculiar Balance Asymmetrical Website Designs</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Dynamic and Vivid Sport-related Website Designs</a></h3>
                    </li>
                </ul>
            </article>
            <div class="cl-sidebar-divider"></div>
            <article class="recent">
                <h3 class="cl-sidebar-h3">Recent Posts</h3>
                <ul class="cl-popular-posts">
                    <li>
                        <h3><a href="#">How to Make a Flat Styled jQuery UI Combo Box Widget (Part 2)</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">How to Create Flat Styled Combo Box with Square UI (Part 1)</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">How to Make Custom Flat Styled Google Maps with jQuery and Flat UI</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Create a Website Flat Design in Photoshop using Flat UI (Video Tutorial)</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">How to Create Color Transition with Blend Tool in Adobe Illustrator</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Create a Drop Down Menu with Search Box in CSS3 and HTML</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">How to Combine Several Gradients in Adobe Illustrator</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">How to Control Gradient Fills in Adobe Illustrator</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">How to Obtain the Right Color in Adobe Illustrator</a></h3>
                    </li>
                    <li>
                        <h3><a href="#">Create an E-Commerce Web Element with CSS3</a></h3>
                    </li>
                </ul>
            </article>
        </div>
      </div>
    </div>

    <footer id="footer-wrapper">
        <div class="menu-footer-container">
            <ul id="menu-footer-menu" class="page-menu-wrapper-footer">
                <li id="menu-item-89205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89205"><a href="#">Privacy</a></li>
                <li id="menu-item-89206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89206"><a href="#">Terms</a></li>
                <li id="menu-item-89204" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89204"><a href="#">Advertise</a></li>
                <li id="menu-item-89605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89605"><a href="#">Affiliates</a></li>
                <li id="menu-item-98791" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98791"><a href="#">Newsletter</a></li>
                <li id="menu-item-89207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89207"><a href="#">About</a></li>
                <li id="menu-item-102718" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-102718"><a href="#">Journal</a></li>
                <li id="menu-item-89209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89209"><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <ul id="footer-container-right">
            <li class="copyright">Copyright © 2013  <a href="#" class="on" title="Creative Library">Creative Library</a>. All Rights Reserved.</li>
            <li class="copyright">
                <!-- copyright -->
            </li>
        </ul>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.8.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>